<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Nóri's app</title>
    <link rel="stylesheet" type="text/css" href="~/Css/Home.css">
</head>
<body>
    <nav>
        <a href="https://github.com/greenfox-academy/NoraCorsac">NoraCorsac</a> |
        <a href="//localhost:57110/">Home</a> |
    </nav>
    <img src="~/Images/code1.png" /><br />
    <img src="~/Images/code2.png" />
   
</body>
</html>