@model GreetSomeone.Models.Greet
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Say Hello!!</title>
    <link rel="stylesheet" type="text/css" href="~/Css/Home.css">
</head>
<body>
    <p>@Model.SayHello()</p>
</body>
</html>