@model GreetSomeone.Models.Greet
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Greet</title>
    <link rel="stylesheet" type="text/css" href="~/Css/Home.css">
</head>
<body>
    <form action="/Hello" method="post">
        Name:
        <input type="text" name="Name">
        <input type="submit" value="Please greet me!" />
    </form>
</body>
</html>