@model Anagram.Models.Anagramma

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Anagramm checker result</title>
    <link rel="stylesheet" type="text/css" href="~/Css/Result.css" />
    <meta charset="utf-8" />
</head>
<body>
    <p>The @Model.Word1 and @Model.Word2 are anagramms: @Model.AnagrammChecker()</p>
</body>
</html>