body {
    background-image: url("../Images/myfox.png");
    background-size: cover;
    text-align: left;
    padding-left: 100px;
    color: black;
    text-size-adjust: auto;
    font-size: xx-large;
}

h1 {
    padding-top: 50px;
    padding-bottom: 100px;
}

img{
    padding-top: 50px;
}