/* General style */
html {
    background-color: lightgrey;
    width: 810px;
    height: 990px;
}

/* Big box */
form{
    width: 630px;
    height: 895px;
    margin: 50px;
    background-color: sandybrown;
}

/* Profil */
p:nth-child(1){
    background-color: grey;
    width: 620px;
    height: 53px;
}
/* Adatok */
div{
    width: 300px;
    height: 420px;
    font-size: 10px;
    background-color: lightblue;
}

.brand-left{
        float: left; width: 50%;
    }
.info{
    color: darkgrey;
    margin-top: 3px;
}
.brand-right{
        float: right; width: 50%;
    }

